@import url(reset.css);

body{
  font-family: Arial, Helvetica, sans-serif;
  height: 300rem;
}

.container{
  max-width: 80%;
  margin: 0 auto;
}

@media(hover:hover){
  .accordion:hover > .item > .item-lable > .title > .item-icon{
  width: 1rem;
  height: 1rem;
}
}

@media(hover:hover){
  .accordion:hover > .item > .item-lable > .title > .header{
    color: rgb(222, 116, 116);
  }
}

h1{
  font-size: 7rem;
  font-weight: 600;
  margin: 1rem 0 3rem 0;
  }

@media (max-width: 1920px) {
  h1{
    font-size: 7rem;
    font-weight: 600;
    margin: 1rem 0 3rem 0;
    }
}

@media (max-width: 820px) {
  h1{
    font-size: 5rem;
    font-weight: 600;
    margin: 1rem 0 3rem 0;
   }
}

@media (max-width: 320px) {
  h1{
    font-size:3rem;
    font-weight: 600;
    margin: 1rem 0 3rem 0;
   }
}

.meme {
  display: block;
  height: 0;
  margin: 0 auto;

  width: 30%;
  transition: 0.3s;
}

.item-input{
  width: 0;
  height: 0;
  display: none;
}

.item-input:checked ~ .meme {
  height: 100%;
  width: 40%;
  padding: 1rem 0 1rem 0;
}

@media (max-width: 1920px) {
  .item-input:checked ~ .meme{
    width: 40%;
    }
}

@media (max-width: 820px) {
  .item-input:checked ~ .meme{
    width: 70%;
   }
}

@media (max-width: 320px) {
  .item-input:checked ~ .meme{
    width: 100%;
   }
}

.item-input:checked + .title > .header{
  color: black;
}

.item-input:checked + .title > .item-icon{
  transform: rotate(0.5turn);
  width: 1rem;
  height: 1rem;
}

.header{
  font-size: 1.5rem;
  min-width: 96%;
  color: black;
  transition: 0.3s;
}

@media (max-width: 1920px) {
  .header{
    font-size: 1.5rem;
    }
}

@media (max-width: 820px) {
  .header{
    font-size: 1rem;
   }
}

@media (max-width: 320px) {
  .header{
    font-size:0.5rem;
   }
}

@media(hover:hover){
  .item-lable:hover > .meme{
    height: 100%;
    width: 40%;
    padding: 1rem 0 1rem 0;
  }
}

@media (max-width: 1920px) {
  .item-lable:hover > .meme{
    width: 40%;
    }
}

@media (max-width: 820px) {
  .item-lable:hover > .meme{
    width: 70%;
   }
}

@media (max-width: 320px) {
  .item-lable:hover > .meme{
    width: 100%;
   }
}

@media(hover:hover){
  .item-lable:hover > .title > .item-icon{
    transform: rotate(0.5turn);
    width: 1rem;
    height: 1rem;
  }
}

.title{
  display: flex;
  padding: 1rem 0 1rem 0;
  align-items: center;
  border-top: solid black;
}

@media (max-width: 320px) {
  .title{
    padding: 0.5rem 0 0.5rem 0;
   }
}

.item-icon{
  height: 0;
  width: 0;
  transition: 0.3s;
}